.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dutyTable {
  margin: auto;
  width: 50%;
  border: solid black 1px;
}

.dutyTableHead {
  background-color: grey;
  border: solid black 1px;
}

.dutyTableHead > tr > th{
  color: white;
  border: solid black 1px;
}

.dutyTableRow {
  border: solid black 1px;
}

.dutyTableRow > td{
  border: solid black 1px;
}

.patientBox {
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
  border: solid black 1px;
}